@model BeautyBooking.Web.ViewModels.Cities.CitiesSimpleListViewModel

@{
    this.ViewData["Title"] = "Default";
}

<div class="btn-group dropright ml-5">
    <button type="button" style="color: #BA55D3" class="btn btn-outline-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search by City
    </button>
    <div class="dropdown-menu">
        @foreach (var city in Model.Cities)
        {
            <a class="dropdown-item"
               asp-area="" asp-controller="Salons" asp-action="Index" asp-route-cityId="@city.Id">
                @city.Name (@city.SalonsCount)
            </a>
        }

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="Salons" asp-action="Index">All Salons</a>
    </div>
</div>



